PORT=5000
MONGO_URI=mongodb+srv://<username>:<password-with-%40-for-@>@cluster0.xdzs45i.mongodb.net/esiot?retryWrites=true&w=majority&appName=semiot
SCAN_COOLDOWN_MS=900
REMOVE_ON_RESCAN=false
ADMIN_PASSWORD=admin123
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_FROM=whatsapp:+14155238886
